# Bytecode und Cache
__pycache__/
*.pyc
*.pyo

# Build- und Distributionsartefakte
build/
dist/
*.egg-info/

# Virtuelle Umgebungen
.venv/
env/
venv/

# Editor-/IDE-Einstellungen
.vscode/
.idea/

# Test-/Coverage-Cache
.pytest_cache/
.coverage
.mypy_cache/

# User-/Laufzeitdaten (App-Session, Debug, User-Config)
debug.log
session.json
navigator.json

# Lokale System-/Desktop-Dateien
.DS_Store
Thumbs.db

# RPM-Build-Ordner (optional, falls du lokal baust)
~/rpmbuild/

# Andere Folder oder Dateien, die du nicht teilen möchtest
assets/
